<ul>
   {{#each products}}
   <l1>{{title}}</l1>
   <li>{{price}}</li>
   {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<scirpt src="/Products.json"></scirpt>
